# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules
.vscode
# locks
package-lock.json
demo/package-lock.json

# testing
coverage

# misc
.DS_Store
.env
npm-debug.log
.vscode